@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione a classe animate-pulse */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1s infinite;
}

/* Adicione a classe animate-expand */
@keyframes expand {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.hover\:animate-expand:hover {
  animation: expand 0.5s ease-in-out;
}
